<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido a Mercado Liebre!</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="home">
    <header>
        <nav class="nav1">
            <div class="buscador">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
                <div class="header1">
                    <form action="">
                        <input class="searchBar" type="text" placeholder="Buscar productos, marcas">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <p class="header2"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
            </div>

            <div class="listas">
                <ul class="lista1">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                
                <ul class="lista2">
                    <li><a href="/register">Crear Cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </div>
            <div class="burguer">
                <button class="burguer-menu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </nav>
    </header>

    <main>

        <section>
            <img src="images/img-home-banner.jpg" alt="img-home-banner" class="banner">
        </section>
        <section class="main-products">

            <h2>Basado en tu última visita</h2>
            <div class="products-container">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$6.770</p>
                            <p class="desc">40% OFF</p>
                        </div>
                        <h3>Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$230.000</p>
                            <p class="desc">20% off</p>
                        </div>
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$70.500</p>
                            <p class="desc">10% off</p>
                        </div>
                        <h3>Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$23.200</p>
                            <p class="desc">5% off</p>
                        </div>
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>

            <h2>Ofertas</h2>
            <div class="products-container">
                <article>
                    <img src="images/img-cafetera-moulinex.jpg" alt="cafetera" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$6.770</p>
                            <span class="desc">40% OFF</span>
                        </div>
                        <h3>Cafetera Moulinex</h3>
                    </div>
                </article>
                <article>
                    <img src="images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$230.000</p>
                            <span class="desc">20% off</span>
                        </div>
                        <h3>MacBook Pro 2019</h3>
                    </div>
                </article>
                <article>
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$70.500</p>
                            <span class="desc">10% off</span>
                        </div>
                        <h3>Samsung Galaxy S10</h3>
                    </div>
                </article>
                <article>
                    <img src="images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart" class="img-product">
                    <div class="description">
                        <div class="truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="precio-desc">
                            <p class="precio">$23.200</p>
                            <span class="desc">5% off</span>
                        </div>
                        <h3>SmartTv Samsung 43"</h3>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
        </div>
        <div class="texto">
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!
            </p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
        </div>
        <div class="texto">
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.
            </p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
        </div>
        <div class="texto">
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
        <div class="copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/a0699563c0.js" crossorigin="anonymous"></script>
</body>

</html>